@media (max-width: 1200px) {
    .navbar-header {
        float: none;
    }
    .navbar-left,
    .navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in{
        display:block !important;
    }
   .navbar-nav .open .dropdown-menu {
       position: static;
       float: none;
       width: auto;
       margin-top: 0;
       background-color: transparent;
       border: 0;
       -webkit-box-shadow: none;
       box-shadow: none;
    }
    .navbar-brand > img,
    .navbar-brand {
    	display: none;
	}
}

@media (max-width: 991px){
	.site-footer,
	.contact-details .contact{
		text-align: center;
	}
	.center-border{
		border-right: 0;
	}
	
	.download-inner{
		padding: 1em 0;
	}
	
	.inner{
		padding: 1em 0;
	}
	.tech-two-section .footnote{
		padding: 0 0 5em;
	}
	.tech-third-section .caption p{
		text-align: left;
	}
	.facts-fourth-section .thumbnail .caption{
		min-height: 100%;
	}
	.mobile-padding{
		padding-top: 2em;	
	}
}
@media (max-width: 480px){
	.item .carousel-caption .jumbotron h1{
		font-size: 34px;
	}
}